@use "@styles/globals.module.scss";

.pageHeader {
    display: flex;
    flex-wrap: wrap;
    .account, .cart {
        text-align: right;
        font-weight: bold;
        > * {
            padding: 0;
            display: inline-block;
        }
    }
    .account {
        width: calc(320px - 64px);
        @media (max-width: 1160px) {
            width: calc(200px - 64px);
        }
        @media (max-width: 910px) {
            width: 64px;
        }
    }
    .cart {
        width: 64px;
        font-size: x-large;
        margin-left: 0;
        padding: 0 globals.$padding-lg 0 globals.$padding;
    }
    .search {
        padding: globals.$padding;
        width: 100%;
        max-width: 512px;
        margin: auto;
        @media (max-width: 910px) {
            flex-grow: 1;
            width: auto;
            max-width: 1024px;
        }
        @media (max-width: 570px) {
            position: absolute;
            top: 56px;
            width: 100%;
            z-index: 99999;
        }
    }
}