@use "@styles/globals.module.scss";

$spinner-size: 32px;
$spinner-border-size: 1px;
$spinner-shadow-size: 0.5px;
$spinner-shadow-size-small: 0.25px;
$spinner-shadow-offset: 0px;
$spinner-shadow-offset1: -0px;
$image-scale: 0.5;

body {
    width: 100%;
    margin: 0;
    overflow-x: hidden;
    background-color: var(--pageBg);
    * {
        font-family: var(--defaultFont);
    }
    h1, h2, h3, h4 {
        font-family: var(--headerFont);
    }
}

.app {
    background-color: var(--bgColor);
    width: var(--maxSiteWidth);
    margin: auto;
    min-height: 100vh;
}

a {
    color: var(--linkColor);
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
    &.altLink {
        color: var(--altLinkColor);
    }
}

@keyframes spinning {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

@keyframes pulseDropShadow {
    0% {
        filter:
            drop-shadow( $spinner-shadow-offset  $spinner-shadow-offset $spinner-shadow-size var(--primaryColor))
            drop-shadow( $spinner-shadow-offset $spinner-shadow-offset1 $spinner-shadow-size var(--primaryColor))
            drop-shadow($spinner-shadow-offset1  $spinner-shadow-offset $spinner-shadow-size var(--primaryColor))
            drop-shadow($spinner-shadow-offset1 $spinner-shadow-offset1 $spinner-shadow-size var(--primaryColor))
        ;
    }
    50% {
        filter:
            drop-shadow( $spinner-shadow-offset  $spinner-shadow-offset $spinner-shadow-size-small var(--primaryColor))
            drop-shadow( $spinner-shadow-offset $spinner-shadow-offset1 $spinner-shadow-size-small var(--primaryColor))
            drop-shadow($spinner-shadow-offset1  $spinner-shadow-offset $spinner-shadow-size-small var(--primaryColor))
            drop-shadow($spinner-shadow-offset1 $spinner-shadow-offset1 $spinner-shadow-size-small var(--primaryColor))
        ;
    }
    100% {
        filter:
            drop-shadow( $spinner-shadow-offset  $spinner-shadow-offset $spinner-shadow-size var(--primaryColor))
            drop-shadow( $spinner-shadow-offset $spinner-shadow-offset1 $spinner-shadow-size var(--primaryColor))
            drop-shadow($spinner-shadow-offset1  $spinner-shadow-offset $spinner-shadow-size var(--primaryColor))
            drop-shadow($spinner-shadow-offset1 $spinner-shadow-offset1 $spinner-shadow-size var(--primaryColor))
        ;
    }    
}
.spinnerContainer {
    transform: scale(2);
    position: relative;
    .spinner {
        position: absolute;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        animation: spinning 0.75s linear infinite;
        border: solid $spinner-border-size var(--primaryColor);
        border-right: none;
        border-bottom: none;
        border-radius: 50%;
    }
    img {
        width: 100% * $image-scale;
        height: 100% * $image-scale;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: pulseDropShadow 1.5s infinite;
    }
}

