@use "@styles/globals.module.scss";

.socialLinks {
    padding: 0 globals.$padding;
    padding-left: 56px;
    font-size: x-large;
    font-weight: bold;
    * {color: globals.$brand-primary;}
    @media (max-width: 570px) {
    }
    > * {
        margin: 0 globals.$padding-sm;
        padding: 0;
        display: inline-block;
    }
    > span {
        width: 256px;
        padding: globals.$padding;
    }
}
