@use "@styles/globals.module.scss";

.footer {
    display: flex;
    padding: 0 var(--padding) !important;
    justify-content: space-between;
    :global(.socialLinks) {
        > a {display: block;}
    }
    a {
        color: var(--altLinkColor) !important;
    }
    .socialLinksContainer {
        margin-top: 22px;
        text-align: right;
    }
    ul {
        list-style-type: none;
        padding: 0;
        columns: 4;
        width: 100%;
        @media (max-width: 1430px) {
            columns: 3;
        }
        @media (max-width: 1070px) {
            columns: 2;
        }
        @media (max-width: 790px) {
            columns: 1;
            width: auto;
        }
        @media (max-width: 575px) {
            columns: 3;
        }
        @media (max-width: 475px) {
            columns: 2;
        }
        @media (max-width: 300px) {
            columns: 1;
            width: auto;
        }

        li {
            display: block;
            padding: var(--padding);
            font-size: 16px;
            width: 33%;
            white-space: nowrap;
            a {
                text-decoration: none;
                color: var(--primaryColor);
                &:hover {
                    color: var(--secondaryColor);
                }
            }
        }
    }
    p {
        width: 100%;
        text-align: center;
    }
    .newsletter {
        padding-top: 8px;
        input {
            width: 100%;
            padding: var(--paddingSmall);
            border: 2px solid var(--borderColor);
            border-radius: 4px;
            font-size: 16px;
            margin-bottom: var(--paddingSmall);
        }
        button {
            @include globals.splashButtonLink;
            width: 100%;
        }
    }
}