@use "@styles/globals.module.scss";

.homepageLink {
    font-size: x-large;
    color: var(--primaryColor);
    font-weight: bold;
    span {
        @media (max-width: 500px) {
            display: none;
        }
    }
}
