@use "@styles/globals.module.scss";

.header {
    height: auto;
}

.content {
    background-color: var(--contentBg) !important;
    @media (max-width: 700px) {
        margin-top: 32px;
    }
}

.footer {
    padding: var(--padding) 0;
}