@use "@styles/globals.module.scss";

.header {
    height: auto;
    background-color: var(--bgLightColor);

}

.content {
    background-color: var(--contentBg) !important;
}

.footer {
    padding: var(--padding) 0;
}