@use "@styles/globals.module.scss";

.footer {
    border-top: 1px solid globals.$brand-border;
    display: flex;
    justify-content: space-between;
    .socialLinksContainer {
        margin-top: 22px;
        text-align: right;
    }
    ul {
        list-style-type: none;
        padding: 0;
        columns: 4;
        width: 100%;
        @media (max-width: 1430px) {
            columns: 3;
        }
        @media (max-width: 1070px) {
            columns: 2;
        }
        @media (max-width: 790px) {
            columns: 1;
        }

        li {
            display: block;
            padding: globals.$padding;
            font-size: 16px;
            width: 33%;
            white-space: nowrap;
            a {
                text-decoration: none;
                color: globals.$brand-primary;
                &:hover {
                    color: globals.$brand-secondary;
                }
            }
        }
    }
    p {
        width: 100%;
        text-align: center;
    }
    .newsletter {
        padding-top: 8px;
        input {
            width: 100%;
            padding: globals.$padding-sm;
            border: 2px solid globals.$brand-border;
            border-radius: 4px;
            font-size: 16px;
            margin-bottom: globals.$padding-sm;
        }
        button {
            @include globals.splashButtonLink;
            width: 100%;
        }
    }
}