@use "@styles/globals.module.scss";

.homepage {
    padding: globals.$padding;
    .hero {
        margin-bottom: globals.$padding-sm;
        aspect-ratio: 2/1;
        > div {
            position: absolute;
        }
    }
}