@use "@styles/globals.module.scss";

.header {
    .headerBanner {
    }
    .topMenu {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: var(--padding) 0;
        width: 100%;
        border-top: solid var(--paddingSmall) var(--bgLightColor);
        border-bottom: solid var(--paddingSmall) var(--bgLightColor);
        background-color: var(--headerMenuBg);
        > * {
            flex-grow: 1;
            text-align: center;
            font-size: var(--textSizeLarge);
            text-transform: uppercase;
            font-weight: bold;
        }
        a {
            color: var(--altLinkColor);
            @media (max-width:450px) {
                font-size: small;
            }
            @media (max-width: 250px) {
                font-size: x-small;
            }
        }
    }

    .pageHeader {
        display: flex;
        flex-wrap: nowrap;
        position: relative;
        @media (max-width: 700px) {
            display: block;
            text-align: right;
            width: 100%;
            .account, .cart {
                display: inline-block;
            }
        }
        img {
            position: absolute;
            top: 8px;
            left: 8px;
            width: 48px;
            filter: invert(49%) sepia(96%) saturate(249%) hue-rotate(150deg) brightness(87%) contrast(94%);
        }
        .homepageLink {
            font-size: x-large;
            color: var(--primaryColor);
            font-weight: bold;
            margin-left: 64px;
            span {
                @media (max-width: 500px) {
                    display: none;
                }
            }    
        }
        .shopLink {
            display: inline-block;
            padding: 0;
            @include globals.splashButton;
            margin-left: 32px;
            svg {
                display: none;
            }
            @media (max-width: 330px) {
                svg {display: inline;}
                span {display: none;}
            }
        }
        .account, .cart {
            color: var(--secondaryColor);
            padding: calc(var(--padding) + var(--paddingSmall)) 0 0 0;
            text-align: right;
            font-weight: bold;
            > * {
                padding: 0;
                display: inline-block;
            }
        }
        .account {
            width: calc(320px - 64px);
            @media (max-width: 1160px) {
                width: calc(200px - 64px);
            }
        }
        .cart {
            width: 64px;
            font-size: x-large;
            padding: var(--padding) var(--padding) var(--padding) 0;
        }
        .search {
            padding: var(--padding);
            width: 100%;
            max-width: 512px;
            margin: auto;
            @media (max-width: 910px) {
                flex-grow: 1;
                width: auto;
                max-width: 1024px;
            }
            @media (max-width: 700px) {
                position: absolute;
                top: 36px;
                width: 100%;
                height: 52px;
                z-index: 9;
            }
        }
    }
}