@use "@styles/globals.module.scss";

.header {
    .topMenu {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: var(--padding) 0;
        width: 100%;
        border-top: solid var(--paddingSmall) var(--bgLightColor);
        border-bottom: solid var(--paddingSmall) var(--bgLightColor);
        background-color: var(--headerMenuBg);
        > * {
            flex-grow: 1;
            text-align: center;
            font-size: var(--textSizeLarge);
            text-transform: uppercase;
            font-weight: bold;
        }
        a {
            color: var(--altLinkColor);
            @media (max-width:450px) {
                font-size: small;
            }
            @media (max-width: 250px) {
                font-size: x-small;
            }
        }
        :global(.subMenu) {
            position: absolute;
            top: 100%;
            right: 0;
            max-width: 100%;
            min-width: 256px;
            border: solid 3px var(--borderColor);
            background-color: var(--bgColor);
            z-index: 40;
            list-style: none;
            margin: 0;
            padding: 0;
            
            li {
                padding: 0.5rem;
            
                a {
                color: var(--linkColor);
                text-decoration: none;
            
                &:hover {
                    text-decoration: underline;
                }
                }
            }
        }
    }

    .pageHeader {
        background-color: var(--bgColor);
        box-shadow: 0 0 20px var(--primaryColor);
        margin-bottom: 20px;
        .links {
            padding: var(--padding);
        }
        .search {
            padding: var(--padding);
        }
        .account {
            padding: var(--paddingSmall);
            color: var(--secondaryColor);
            text-align: right;
            font-weight: bold;
            > * {
                display: inline-block;
            }
            :global(.loginBtn) {
                margin: var(--padding);
            }
            :global(.cartBtn) {
                vertical-align: top;
                padding-top: 12px;
                font-size: x-large;
            }
        }
    }
}