$brand-primary: #4492ae;
$brand-secondary: #8f9fb8;
$brand-border: #4e5e6f;
$brand-bg: #1a212b;
$brand-bg-light: #2c333d;
$brand-text: $brand-secondary;

$border-radius: 4px;
$border-radius-lg: 8px;

$padding: 16px;
$padding-sm: 8px;

:export {
    brandPrimary: $brand-primary;
    brandSecondary: $brand-secondary;
    brandBorder: $brand-border;
    brandBg: $brand-bg;
    brandBgLight: $brand-bg-light;
    brandText: $brand-text;

    borderRadius: $border-radius;
    borderRadiusLg: $border-radius-lg;

    padding: $padding;
    paddingSm: $padding-sm;
}
